[2016-04-11 14:22] srk opened #1 "Floating point underflow on calculation of stress tensor"
[Uploading pyridine.txt…]()
[Uploading pyridine.txt…]()

[2016-04-11 14:23] srk commented on #1
WARNING(grda_init): The environment variable CRITIC_HOME is not set
(!) The cif dict file, the density files, and the structure library
(!) will not be available. critic_home set to pwd.
                  _   _     _          ___
                 (_) | |   (_)        |__ \
     ___   _ __   _  | |_   _    ___     ) |
    / __| | '__| | | | __| | |  / __|   / /
   | (__  | |    | | | |_  | | | (__

[2016-04-11 22:54] aoterodelaroza commented on #1
Sorry about that. Please, pull and try again.

[2016-04-23 01:48] aoterodelaroza commented on #1
Since this problem seems to be solved, I'm closing this issue.

[2016-04-23 01:48] #1 closed

[2016-11-27 11:19] LonelySpooky opened #2 "Compilation fails at Fedora 25"
Using gfortran 6.8 in a Fedora 25 (64 bit) the compilation dies at the beginning:

[code]

[2016-11-27 19:23] aoterodelaroza commented on #2
Sorry about that... I must have introduced a bug in the last commit
and I didn't notice because I was using ifort. It should be fixed
now. Please, pull and try again (and thanks for the notice!).

[2016-11-27 19:47] LonelySpooky commented on #2
Thank you so much for you quick fix and your kind reply. The compilation finished and everything seems to be ok.

[2016-11-27 19:47] #2 closed

[2017-06-05 14:38] const-sctms opened #5 "Error in `critic2': munmap_chunk(): invalid pointer"
Dear friends,
critic2 configured with
./configure FC=ifort CC=icc CXX=icpc FCFLAGS="-O2 -no-ip" CFLAGS="-O2 -no-ip" CXXFLAGS="-O2 -no-ip" --with-libxc-prefix=/usr/local/libxc3.0.0 --with-libxc-include=/usr/local/libxc3.0.0/include
and compiled with Intel Composer XE 2015 (patch 2) was abnormally terminating with

*** Error in `critic2': munmap_chunk(): invalid pointer: 0x00002b72fbffea90 ***

"exp

[2017-06-05 14:58] aoterodelaroza commented on #5
Hi @const-sctms,

It could be a bug in critic2, or it could be something going on with
the compiler - I've had problems in the past with memory allocation
and openmp blocks in ifort. If you could please send me the input
files, as you suggest, I'll take a look. In the meantime, you may want
to try deactivating the optimization flag (say, use -O1 or -O0).

Cheers!

* const-sctms <notifications@gith

[2017-06-05 15:38] const-sctms commented on #5
Ok, I've built critic2 after "./configure FC=ifort CC=icc CXX=icpc FCFLAGS="-O0" CFLAGS="-O0" CXXFLAGS="-O0" --with-libxc-prefix=/usr/local/libxc3.0.0 --with-libxc-include=/usr/local/libxc3.0.0/include" and run the same task again. In this case computations were finished without error message but too early - after 143 line of "Critical points list" (in success calculations this list were ended at

[2017-06-05 16:59] aoterodelaroza commented on #5
I think I can reproduce the error with ifort 14.0.2.144 and a made-up density for this system. It gives me a "bus error" right after the critical point list. Adding the -C option to FCFLAGS (activate all compiler checks) and keeping -O0 seems to work for me. I'm still looking for a better solution, though.

[2017-06-05 17:15] aoterodelaroza commented on #5
It seems like a regression in the compiler - those flags you used seem to work with ifort 12.1.5.399 and 12.1.0. If you have access to a different (earlier?) version of ifort, you may want to try that, too.

[2017-06-05 19:22] aoterodelaroza commented on #5
I've just pushed a fix for this. The problem is related to the fact that the openmp specs do not contemplate how to deal with user-defined types with allocatable components (as in the scalar_value type from types.f90). I've solved this by wrapping the grd call in an internal function, therefore making scalar_value automatic upon entry. Could you please pull and let me know if it works?

[2017-06-06 09:47] const-sctms commented on #5
OK, I've downloaded new code and built with Intel compiler v12.1.6 begining with "-O0" and with "-O2 -xAVX" at the end. Both executable works fine and with optimized one using up to 8 core I've got following timings:
"CRITIC2 ended succesfully (0 WARNINGS, 0 COMMENTS)
Elapsed wall time: 22s
Elapsed CPU time: 32s"
They are better than with "--disable-openmp".
Additionally I'm going to compile new c

[2017-06-06 09:47] #5 closed

[2017-06-06 19:11] aoterodelaroza commented on #5
Thanks for the report, and I'm glad it's solved. I think the last fix should make critic2 work with any ifort/icc, even the 14.x and 15.x series.

[2017-06-07 14:16] const-sctms commented on #5
I've checked with ifort/icc 15.0.2 and additionally with "-static-intel" linking option.
It works and some faster then previous (on the same 8 cores):
CRITIC2 ended succesfully (0 WARNINGS, 0 COMMENTS)
Elapsed wall time: 20s
Elapsed CPU time: 27s

[2017-08-28 18:13] mkhorton opened #6 "Version number question"
Do you have any version numbers defined in your code? What version is your 'stable' release at, is it simply 2.0?

(I'm asking because I wanted to contribute a critic2 package to the homebrew package manager to make it easier to install for mac users to install critic2, but the maintainers require a version number to be defined.)

[2017-08-28 18:26] aoterodelaroza commented on #6
I normally use the first seven characters of the github commit, but
this is not ideal. Beyond that, there is little in the way of
versioning. The "stable" tag exists now because most Fortran compilers
do not support some features I need, and I wanted to give users who
just want some working code an option. More people seem to use critic2
now, so maybe it is time to introduce versioning tags. In th

[2017-08-28 18:30] mkhorton commented on #6
Okay, that's good to know. Thank you!

[2017-08-28 18:30] #6 closed

[2017-08-29 23:08] mkhorton opened #7 "Question regarding 'duplicate' bonds (e.g. in covellite example)"
I'm trying to understand the critic2 output. Running the covellite example, I can see the lines in bcp connectivity table:

[code]

From my understanding, this is describing a bond between nucleus critical points 3 and 9, and ncp 7 and 8 are probably the same and could be merged together. This is running in `auto` mode.

However, I've also seen this in running my own data, e.g. for Fe3O4:

[code]

[2017-08-29 23:26] aoterodelaroza commented on #7
This is an issue with the interpolation function for fields defined on
a grid. Or, specifically, with the critical points of such function.

When you have a field on grid (for instance, a VASP CHGCAR), you need
a way of representing the value of that grid and its derivatives at
any point inside the cell in order to calculate its critical
points. There are several ways of doing this in critic2 - th

[2017-08-29 23:51] mkhorton commented on #7
Interesting, I thought it might be something along those lines. I'm attempting to run critic2 on a large benchmark data set (a few hundred systems to start with), but it will all be for gridded data from VASP.

I didn't realize this could give useful results (to run on the promolecular density, rather than ground state density), and is very interesting .... I'll give this a go! and will try CPEPS

[2017-08-30 00:12] aoterodelaroza commented on #7
It could be both :). Grids are a bit of a mess when it comes to
finding critical points and despite many attempts in the past I never
quite solved the problem. I've seen the interpolation method making a
point "disappear" but the case where you get a cluster of points is by
far the most common.

In large crystals, it can happen that the default search strategy
(subdivision of the WS cell) is not t

[2017-09-21 09:08] unmesh1993 opened #8 "Core augmentation issue for transition metals(e.g Ti) for non-PAW calculation done by Qunatum Espresso"
Using Quantum Espresso (QE), I have run a non-PAW calculation to get the pseudo charge density grid file (plotnum=0 in pp.x post-processing tool of QE) for Ti. The YT integration of this charge density gives me the right number of electrons(Ti -12 as given in the pseudopotential) upon the integration. But, when I augment this pseudo-density file with the core charges taken from the critic2 databas

[2017-09-21 20:23] aoterodelaroza commented on #8
The augmented core density does not sum to the correct number of
electrons because a uniform grid cannot represent the very steep
density peaks at the nuclei correctly, regardless of how fine you make
it. It is the same reason why pseudopotentials are used in plane-wave
calculations. The $rhoval column is almost always what you want.

Also, note that you are core-augmenting twice: once when you wr

[2017-10-27 19:18] rezabma opened #9 "Core Dump Error in running examples"
I have compiled critic 2 by gfortran 5.4 on ubuntu16.04 LTS.I used autoreconf -i,  ./configure,   make.
I get following error:
==================================================
reza@Astek:~/critic2-master/examples/visualization_cps$ /home/reza/critic2-master/src/critic2 <hf6.cri

Program received signal SIGSEGV: Segmentation fault - invalid memory reference.

Backtrace for this error:
#0  0x2AE73

[2017-10-27 19:23] aoterodelaroza commented on #9
Either use gfortran 6.x or newer or download and compile the stable version. See:
https://github.com/aoterodelaroza/critic2#which-compilers-work

[2017-10-27 19:23] #8 closed

[2017-10-28 05:13] rezabma commented on #9
Thanks. I could ran examples with your comment. I used gfortran-7.
However, I have a problem for making src-gui. With make command, I found following error:
==========================================
reza@Astek:~/critic2-master/src-gui$ make
Making all in imgui
make[1]: Entering directory '/home/reza/critic2-master/src-gui/imgui'
true imgui.o imgui_draw.o imgui_impl_glfw_gl3.o imgui_demo.o imgui_d

[2017-10-28 05:18] aoterodelaroza commented on #9
The GUI is not ready yet, sorry.

[2017-10-28 06:04] rezabma commented on #9
Thank you anyway. I will use critic2 in my research, and ask you if there is any question. Thank you again.

[2017-10-28 06:26] aoterodelaroza commented on #9
No worries. It will still take me a while to get going with the GUI. In the meantime, I suggest using avogadro and the other GUIs indicated in the manual.

[2017-10-28 06:26] #9 closed

[2018-01-19 17:24] Masoudrahbar opened #10 "negative charge density"
I am calculating the bonding properties of NiMn alloy in bulk and slab structures. in the bulk structure all the charge densities are positive at critical points but in the slab structure some of them (actually most of them) get negative. can somebody please explain this?

[2018-01-19 17:36] aoterodelaroza commented on #10
Hi @masoudrahbar,

The densities from a cube file in interstitial or vacuum regions can
become slightly negative because of numerical noise either from the
electronic structure program or from critic2's interpolation. For more
specifics, can you please provide your density, structure, and input
files?

* Masoudrahbar <notifications@github.com> [2018-01-19 17:24:46 +0000]:

[2018-01-19 17:48] Masoudrahbar commented on #10
thank you for the response yes just the regions near the vacuum shows negative values. I have another question and that is about the laplacian. in the bulk all of them are positive but in the slab most of them are negative is this normal?I attached the input files
[attachments.zip](https://github.com/aoterodelaroza/critic2/files/1647450/attachments.zip)

[2018-01-19 17:59] aoterodelaroza commented on #10
Yep, it's clearly noise. If you try:

   crystal zero-case.cube
   load cube zero-case.cube
   auto
   cpreport bleh.cml

and then view the resulting cml with avogadro (you need to set up
openbabel's element.txt, as described in the manual), you will see
that the vacuum is packed with spurious CPs. The easiest way to get
rid of them is to use the DISCARD keyword to prune those that have
density le

[2018-01-19 18:17] Masoudrahbar commented on #10
I really appreciate. solved

[2018-01-19 18:18] Masoudrahbar commented on #10
I really appreciate. solved

[2018-01-19 18:20] #10 closed

[2018-02-24 15:25] Ceasea opened #11 "compiling with gfortran-6.4: warning"
hello
I try to compile critic2_stable. Version of gcc is 6.4.0 20171010 (Ubuntu 6.4.0-8ubuntu1)

during the process of _make_, some warnings appear.  Two warnings are listed here , while the rest are similar like these ( if necessary, I can paste all of them ):

_Warning: Type mismatch in argument ‘ch’ at (1); passed COMPLEX(8) to REAL(8)
cfftnd.f90:599:72:
       call cmf4kf ( lot, ido, l1, na, c

[2018-02-24 18:58] aoterodelaroza commented on #11
Hi @Ceasea,

Those warnings are from the FFT library, and they are normal during compilation. Plus, that part of the code is not used to calculate the critical points. Finding critical points in densities given on a grid can be tricky. Precisely the covellite example is discussed in issue #7 . I'll take a look in the near future and write some suitable explanations in that example.

[2018-02-25 02:39] Ceasea commented on #11
Oh ,I see.
In #7, I found that the positions of two bond critical points are nearly the same, so that we can consider they are one point in fact.

The positions of ring critical points in my case are different from each other, but the positions of _r4_ and _c3_ are the same, which means they are the same one.

well, thanks a lot for your time.

[2018-02-25 03:28] Ceasea commented on #11
by the way, I got nearly the same bond critical points( positions and charge density at the points),  there is a numerical misfit of Laplacian of charge density.
In my result, the Laplacian of charge density at bont critical points are about 0.156,  0.202, 0.185, -0.080,
while, the Laplacians of charge density at bond criticial points  in the paper are 0.102, 0.103, 0.098, -0.0923.

Considering th

[2018-02-25 04:48] aoterodelaroza commented on #11
Probably. Are you using doing exactly the same calculations as they
did in the paper (functional, geometry, cutoffs, number of points in
the grid, etc.)?

* Ceasea <notifications@github.com> [2018-02-25 03:28:33 +0000]:

[2018-02-25 06:25] Ceasea commented on #11
I use the input files from http://schooner.chem.dal.ca/downloads/critic2/critic2_examples_data.tar.xz

[2018-02-25 06:29] aoterodelaroza commented on #11
Ah. Then those differences are perfectly normal. I didn't pay any
attention to reproducing exactly the same calculation conditions as in
the article, so the Laplacian values should be in the ballpark, but
not more than that.

* Ceasea <notifications@github.com> [2018-02-25 06:25:44 +0000]:

[2018-02-25 06:34] Ceasea commented on #11
okay, got it.
thanks a lot.

[2018-03-01 04:57] #11 closed

[2018-05-22 08:10] srk opened #12 "Uniquely associate end atoms with bond paths?"
I want to uniquely associate all bond critical points with specific end atoms. Using a simple molecular .wfx file, I get, for example, the following output:

[code]

This information ONLY tells me the atomic species of the end atom, not the names or IDs of the specific end atoms. Even the connectivity table later in the output only tells me that specific atoms are connected by a bond, but does not

[2018-05-23 11:03] aoterodelaroza commented on #12
Hi Steven,

I thought this had been fixed already. This is the output I get from a
pyridine wfx:

[code]

Using both the development and the stable version.

[2018-05-27 04:58] srk commented on #12
I have downloaded the most recent stable version and will try again

[2018-05-27 04:58] #12 closed

[2018-05-27 05:02] srk opened #13 "Segmentation fault on stable, gfortran 6.4.0/7.3.0/8.0.1"
Hello,
After downloading the stable branch to fix a previous problem, I encountered another. I gave the following input:
[code]
I get segmentation faults right away:
[code]
I tried compiling with gfortran 6.4.0, 7.3.0 and 8.0.1 and all the executables gave the same result.

[2018-05-27 05:38] aoterodelaroza commented on #13
The stable branch does not have cystalmod@proc.f90. That must be the development branch. In any case, it looks like a bug. I suspect your wfx has ghost atoms but, just in case, can you please send me the wfx file?

[2018-05-27 07:01] aoterodelaroza commented on #13
That's odd. This wfx does not have an "Atomic Numbers" section. Was this generated by Gaussian or by some other program?

[2018-05-27 07:09] srk commented on #13
This is a standard example file provided with Todd Keith's AIMAll.

[2018-05-27 07:28] aoterodelaroza commented on #13
Alright, I've just pushed some changes to both versions and I think it should work now. Can you please pull and try again?

[2018-05-27 07:54] srk commented on #13
I'll try it, thanks!

[2018-05-27 08:09] srk commented on #13
Recompiled just now with gfortran 8.0.1. This example file works fine now, thanks!

[2018-05-27 18:44] #13 closed

[2018-06-03 08:26] lorna639 opened #14 "why I can't obtain *.obj and *.xyz documents?"
I want to obtain the BCP of a material. and in the input
"cpreport obj cell border
write mol.xyz
cpreport short"
but in the output, there is no *.obj and *.xyz docuements.
in the end of the output,
"* WRITE obj file: obj
ERROR(obj_open): could not parse file name
ERROR(obj_open): could not parse file name"

I want to obtain your help.
Thank you.

[2018-06-04 13:51] aoterodelaroza commented on #14
Hi @lorna639. It should be:

cpreport blah.obj cell border

This will create a file called "blah.obj".

* lorna639 <notifications@github.com> [2018-06-03 01:26:34 -0700]:

[2018-06-06 08:29] srk opened #15 "Segfaults with gfortran 6/7/8 on commit 651ef49"
[code]

[2018-06-06 08:39] aoterodelaroza commented on #15
Whoa, that's odd. I tried the same version and compiler, and I cannot
reproduce this problem. Can you please recompile with --enable-debug:

FC=gfortran-6 F77=gfortran-6 CC=gcc-6 ./configure --enable-debug
make clean
make

to see if the compiler can give us a backtrace? What
OS/distribution/architecture do you use?

[2018-06-06 08:40] srk commented on #15
Ubuntu 16.04LTS x86-64
Will try what you suggested.

[2018-06-06 08:41] aoterodelaroza commented on #15
Also, try without the -static . I dimly remember having some trouble
with it recently.

[2018-06-06 08:47] aoterodelaroza commented on #15
Yeah, it's the -static. I could reproduce it. I wonder how this is
done with the new gfortran.

[2018-06-06 08:47] srk commented on #15
Yup, -static is the problem here. Removed that and it works fine.

[2018-06-06 08:47] srk commented on #15
Thanks for the speedy response!

[2018-06-06 08:51] aoterodelaroza commented on #15
No worries! It would be nice to have the -static option, though,
because it comes in handy when you want critic2 on a system where you
cannot have gfortran-6+ (e.g. a cluster). Digging around, it seems
that this works:

FC=gfortran-6 F77=gfortran-6 CC=gcc-6 LDFLAGS='-static -Wl,--whole-archive -lpthread -Wl,--no-whole-archive' ./configure  --enable-debug

xenon:critic2$ src/critic2

[2018-06-10 22:53] weixie4 opened #16 "Master branch compilation error with Intel (17.1/18.2) compiler"
Dear Dr. Otero-de-la-Roza,

I wanted to bring it to your attention that when I tried to compile the master branch with Intel compilers (both version 17.1 and 18.2) I got the following error:

doqhull.c(39): error: expected an expression
    for (int i = 0; i < n; i++)
         ^

doqhull.c(39): error: identifier "i" is undefined
    for (int i = 0; i < n; i++)

The stable branch worked fine.

Than

[2018-06-11 07:33] aoterodelaroza commented on #16
Hi Wei,

I just tried with 17.1 and, besides a duplicate variable in
flux@proc.f90 (please git pull the new version), it worked. Can you
please send the configure line you are using? Also, the output of
configure should say something like this:

configure: FC        = ifort
configure: F77       = ifort
configure: CC        = icc
configure: CXX       = g++
configure: FCFLAGS   = -g -FR -fopenmp
con

[2018-06-11 11:33] #15 closed

[2018-06-11 11:33] #14 closed

[2018-06-14 08:39] aoterodelaroza commented on #16
Sorry for the wait. I think the problem is declaring a variable inside
the loop is from the C99 standard, and some C compilers may need an
additional flag to allow it (though strangely my icc seems to go with
it). Normally I would change the code to conform to the older standard
(it's just syntactic sugar after all), but unfortunately the qhull
library also has this problem and I'd rather not touc

[2018-06-14 22:49] weixie4 commented on #16
Now it worked like a charm. Thanks a lot for your help, Alberto.
A side note: the CFLAGS given by configure is '-std=gnu99'.

[2018-06-14 22:53] aoterodelaroza commented on #16
No worries. :)

[2018-06-14 22:53] #16 closed

[2018-06-15 00:22] weixie4 opened #17 "Inconsistent number format in root-grad.cube"
Hi Aotero,

Sorry to harass you again by submitting another issue... I found that for very large values of reduced density gradient s (when density rho is very small) from NCI analysis, the format in root-grad.cube is something like 0.17557+106 while common values of s are in the scientific format like 0.12838E+01. The character E is missing in the former and led to problems when I did postprocess

[2018-06-15 08:59] aoterodelaroza commented on #17
No worries. I just pushed the change to fix it. Can you please try
again?

[2018-06-15 10:18] weixie4 commented on #17
The new version worked. Thanks again.

[2018-06-15 10:18] #17 closed

[2018-06-24 16:21] aoterodelaroza commented on #7
@mkhorton : I have been made aware of new developments regarding this problem by people at LLNL. See:
https://github.com/LLNL/TopoMS
I'll try to implement the recipe described in the J. Comput. Chem. article, as time permits. In the meantime, it may be interesting to give that new code a spin.

[2018-06-24 18:43] mkhorton commented on #7
Hi @aoterodelaroza, many thanks for letting me know! This looks very interesting, I look forward to trying it :)

[2018-08-30 15:11] aoterodelaroza commented on #7
Well, that's not good:
[code]
I used the example config file and the covellite AECCAR0. All the entries in the config file look reasonable to me, but I may be missing something. Did you have any luck with it?

The article is quite hard to follow, and I don't have much time at the moment to go through it slowly to unobfuscate it. The code is much easier to follow, strangely enough. The article sugg

[2018-08-30 15:31] mkhorton commented on #7
Unfortunately not. One of the authors (Harsh) was very helpful in trying to
help me get it to compile, so I do have a compiled version but it also
segfaults. I was told this might be to do with non-orthogonal lattice
vectors, but I’m not sure. So as of now I’m just waiting for the next
release.

On Thu, Aug 30, 2018 at 08:11, aoterodelaroza <notifications@github.com>
wrote:

[2018-08-30 17:29] aoterodelaroza commented on #7
Nah, the interatomic surface from YT seems to be composed of many non-contiguous bits, so that plan is a no-go. I'll try to find some time to read the article and the code carefully next week, see if something good comes out of it. On the topic of segfaults, in the urea crystal (orthorhombic):
[code]
and in the CO2 crystal (cubic):
[code]
I couldn't get it to work on any system, unfortunately. It

[2018-08-30 17:39] aoterodelaroza commented on #7
Ah, yes. This happened to me when I was coding the GUI. Add:

return true;

in TopoMS.cpp at the end of the bool TopoMS::init() function. If you declare a function as non-void and then fail to return a value, it'll segfault on a nice day, do something very weird on a bad one. I wonder why the compiler doesn't check for this. With that change it seems to be working, but it's taking an awfully long

[2018-10-08 23:25] mkhorton opened #18 "Compilation issues, "Cannot read module file...""
Hi @aoterodelaroza ,

I'm trying to compile critic2 but having issues both from the current stable branch and the current master branch.

In stable I get:

[code]

and in master I get:

[code]

(This is with `GNU Fortran (Homebrew GCC 8.2.0) 8.2.0`)

Do you have any advice?

[2018-10-08 23:32] aoterodelaroza commented on #18
That's an error caused by mixing module files from different
compilers. It may be indicative of an error in the Makefile - now that
I look at it, cui.mod is not in any dependency. Quick fix: try make
clean and try again. I'll put it on the TODO list.

* Matthew Horton <notifications@github.com> [2018-10-08 16:25:19 -0700]:

[2018-10-08 23:38] mkhorton commented on #18
`make clean` followed by `make` again did indeed work, thanks for the fast reply! :)

[2018-10-08 23:38] #18 closed

[2019-04-11 02:03] gooaah opened #20 "Units of density and Laplacian?"
I am using critic2 to ananlyze the charge density from VASP. l am confused of the units of density and Laplacin in "Additional properties at the critical points". Unit of density is e/A^3 or e/Bohr^3?

[2019-04-11 05:47] aoterodelaroza commented on #20
Always e/bohr^3 (atomic units), regardless of what the units in the
source density are.

* Hao Gao <notifications@github.com> [2019-04-10 19:03:33 -0700]:

[2019-04-11 11:20] gooaah commented on #20
@aoterodelaroza Thanks, that is helpful.

[2019-04-11 11:20] #20 closed

[2019-04-11 13:08] Ceasea opened #21 "nuclear"
hi @aoterodelaroza
I try to find CPs in the ELFCAR.
morse sum is not 1 in my crystal bulk system.
how could this happen.

here is my input file for Critic2.
---------------------------------
crystal cal/POSCAR
load cal/ELFCAR
auto
cpreport
--------------------------------
here is part of the output.
-------------------------------
Critical point list, final report (non-equivalent cps)
  Topologica

[2019-04-11 13:09] #21 closed

[2019-04-11 14:19] Ceasea opened #22 "typnuc 3, and then the integration is done around the nuclear still"
hi @aoterodelaroza ,
I try to make charge integration of non nuclear basins of ELF.

in my poor opinion, the ELF value at nuclears should be CCP, so i try "TYPNUC 3" keyword after loading the ELFCAR.

"AUTO" command provides the nuclear as CCPs ( ncp is 1 and 2 in the output below).

however, when i use "YT" to do the integration, the charge density of nuclear basins are still integrated.
(Keyword

[2019-04-21 17:14] aoterodelaroza commented on #22
Hi @Ceasea: sorry for the wait. The ELF value at nuclei should indeed
be a maximum but if you are using VASP you must be using
pseudopotentials/PAW datasets and so it is likely that the atomic
shell structure is gone altogether. I recommend plotting a line from
any of the nuclei towards the interstitial to see if this is the case.

AUTO is likely not going to help very much in this case because CP

[2019-04-22 06:03] Ceasea commented on #22
the shell structure is gone as you said. The problem is caused by the pseudopotentials method i used.
Thus, we are turning to all-electron calculations.

thanks. your reply helps me a lot.

[2019-04-22 06:03] #22 closed

[2019-05-11 05:42] Ceasea opened #23 "integrable clear not working"
Hi @aoterodelaroza

integrable clear not working in my situation. I dont know it is a bug or not. I post message about the command and critic2 compiling.

---------------------------------------------------------------------------------

%% integrable 2 LAP
 List of integrable properties (7)
 Id  Type  Field  Name
    1   v        0  Volume
    2  fval      2  Pop
    3  lval      2  Lap
    4   f

[2019-05-13 20:34] aoterodelaroza commented on #23
Hi @ceasea. Sorry for the wait. I've just pushed a fix to the
development branch. Can you please pull, recompile, and try again?

[2019-05-14 03:00] Ceasea commented on #23
ok，thanks 汪进凯 邮箱：ceasea@i.shu.edu.cn 签名由 网易邮箱大师 定制 On 05/14/2019 04:34, aoterodelaroza wrote: Hi @ceasea. Sorry for the wait. I've just pushed a fix to the development branch. Can you please pull, recompile, and try again? — You are receiving this because you were mentioned. Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-14 04:17] Ceasea commented on #23
hi @aoterodelaroza

I download the latest critic2-master package and try to compile but fail in the first step autoreconf.

/usr/share/aclocal-1.15/init.m4:29: AM_INIT_AUTOMAKE is expanded from...
configure.ac:11: the top level
autom4te: /usr/bin/m4 failed with exit status: 1
aclocal: error: echo failed with exit status: 1
autoreconf: aclocal failed with exit status: 1

I have checked the previous

[2019-05-14 08:59] aoterodelaroza commented on #23
That is odd. A fresh clone of the critic2-master works for me, and I
didn't touch the build system in the last fix.

Try "make distclean" first, then autoreconf, etc. If that doesn't
work, try replacing the AC_INIT line in configure.ac with:
[code]

[2019-05-14 10:51] Ceasea commented on #23
ok, i will try

[2019-05-14 11:03] #23 closed

[2019-05-22 04:01] Ceasea opened #24 "data incompatible from auto and cube grid"
[CHGCAR.zip](https://github.com/aoterodelaroza/critic2/files/3205543/CHGCAR.zip)

Hi @aoterodelaroza

I conducted two steps to test if the data is self-consistent.
step 1.

load CHGCAR
auto
cpreport
test.cif

In the output, I get the Lap of one BCP ( 0.75 0.25 0.5), which is negative.

step 2.

load CHGCAR
cube grid field 1 LAP file bleh.cube

With the file bleh.cube ( the Laplacian of CHGCAR), I

[2019-05-28 19:06] aoterodelaroza commented on #24
Sure. I would not trust anything AUTO says when it is a applied to a grid. It may give the correct result, but there are unresolved issues with the calculation of derivatives and the interpolation that make the CP search unreliable.

Regarding the Laplacian at a given point: the best way to calculate it from a grid is to first calculate the grid containing the Laplacian with a Fourier transform op

[2019-05-29 03:00] Ceasea commented on #24
I see. the problem is still caused by grid data.
thanks a lot

[2019-05-29 03:00] #24 closed

[2019-07-15 03:41] Ceasea opened #25 "integration results differ within twice run"
Hi @aoterodelaroza

I run "yt nnm" twice in one Critic2 environment.
I found integration results of the two "yt nnm" are different.

Working flow is

crystal CHGCAR
load CHGCAR
yt nnm # first run
yt nnm # second run

The two "yt nnm" provided different integration results.
(Maybe it's weird to run twice "yt nnm", but I did.)
 '>.<'

My CHGCAR

[CHGCAR.tar.gz](https://github.com/aoterodelaroza/crit

[2019-07-15 10:20] aoterodelaroza commented on #25
Thanks for the report. I think I know why that happens. In your crystal, you have NNMs (which could originate spuriously from using the pseudo-density to calculate the basins). When you run YT for the first time, those NNMs are added to the critical point list for the field as maxima, and therefore act as "atoms" in the second run.

In general, whenever YT finds a new attractor it is assigned to t

[2019-07-15 14:10] Ceasea commented on #25
allocate(bas%xattr(3,s%c%ncel))
    bas%xattr = 0d0
    if (bas%atexist) then
       bas%nattr = s%c%ncel
       do i = 1, s%c%ncel
          bas%xattr(:,i) = s%c%atcel(i)%x
       end do
    else
       bas%nattr = 0
    end if

This code is from yt@proc.f90 from line 63 to line 73.

bas%xattr, which stores the coordinations of maxima, and bas%nattr, which stores the number of
maxima, are both in

[2019-07-15 14:25] aoterodelaroza commented on #25
That is correct. Both bas%nattr and bas%xattr are initialized to the number of atoms. And the maxima of YT are saved to the field CP list in integration@proc.f90, routine int_reorder_gridout. But right now I don't see right now the code where it recieves the CPs from the reference field. Hmmm. I'll take a look at the end of today and come back to you.

[2019-07-15 15:22] aoterodelaroza commented on #25
This is the part of the code that does the deed (in integration@proc.f90, int_reorder_gridout):
[code]
In the second pass, maxima can still not be assigned to adjacent atoms (because ratom = 1bohr and you only have Al) but they can be assigned to the NNMs found in the first run, and so they are.

[2019-07-15 15:23] aoterodelaroza commented on #25
The `bas%atexists` can be made `.false.` by using the NOATOM keyword, as mentioned above.

[2019-07-17 15:00] Ceasea commented on #25
Hi @aoterodelaroza,

Combining your explanation, I read the code and found the problem, and solved the problem basically in my tests.
I have pulled a request.

[2019-07-27 14:20] aoterodelaroza commented on #25
Hi @ceasea,

Sorry for the wait - I have been all week at a conference, and will be
until Monday.

I do not think this is such idea because it makes the field
inconsistent. The CP list should always be populated by at least the
atoms, in the same order as the crystal structure. In addition, there
are two lists that are coordinated: one with and one without
symmetry. Finally, this fix also breaks t

[2019-07-27 15:07] Ceasea commented on #25
yes，after i pulled the request, i realized that my changes are too violent and may cause other problems that i donot know. i found that in command-line mode,when i excuted unload command  between two YT NNM run, the results would be the same. However, repeating loading fields will cost much time if these field are big and is not beautiful. So i checked the unload module and found that parameter wo

[2019-08-02 08:26] Ceasea commented on #25
Hi @aoterodelaroza
I have checked new version.
The problem is solved. Thanks.

[2019-08-02 08:26] #25 closed

[2019-10-27 18:58] manaslkht opened #27 "Unable to generate configure file and configure file not working"
Hello,

I am trying to install critic2 on my macOS (Mojave 10.14.6). I downloaded the .zip file from the github repository and unzipped the folder. On entering the folder, as per the instructions provided on the github page I ran autoreconf. I get the following errors and and the configure file is not created.

configure.ac:11: error: AC_INIT should be called with package and version arguments
/us

[2019-10-27 22:25] aoterodelaroza commented on #27
Hi, thanks for the report! That happens because the second argument in
AC_INIT is empty, because the macro grabs the version from git. I'm
moving to cmake so this won't be a problem for much longer. In the
interim, I've pushed a change to configure.ac to fix this. You can do
it on your copy simply by replacing
`m4_esyscmd_s([./tools/version.sh])` with `1.0` in the call to
`AC_INIT`, then run `auto

[2019-10-28 04:55] manaslkht commented on #27
Hello,

Thank you for your quick reply and the fix. I implemented the changes and the installation worked this time without any errors.

Thank you!

[2019-10-28 04:55] #27 closed

[2019-11-14 20:54] mkhorton opened #28 "Request for machine-readable output"
Hi @aoterodelaroza, I've written a parser for the critic2 standard output so that we can store the results of an analysis in our database. Unfortunately a recent change in output format broke the parser -- this is fine and not a problem, but I was wondering if you'd thought about providing a machine-readable output like JSON in addition to the standard out?

A machine readable output as JSON could

[2019-11-14 21:07] aoterodelaroza commented on #28
Sure, that shouldn't be very hard to do. I'll try to get it done by
the end of the week.

[2019-11-14 21:08] mkhorton commented on #28
Fantastic, thank you :-) Happy to beta test.

[2019-11-18 20:08] manaslkht opened #29 "Question regarding Morse Sum"
Hello,

Firstly, thank you for making this tool available for researchers. It's been of great help in my research.

I had a question on Morse Sum and finding BCPs. According to the manual (https://aoterodelaroza.github.io/critic2/manual/cpsearch/) in the "final report" of the AUTO output if the CP list is complete the Morse Sum is 0 for crystal and 1 for Molecule.

I am trying to find BCPs in a hy

[2019-11-18 20:20] mkhorton commented on #29
Disclaimer: I’m just responding as a user of Critic2, I can’t answer your question but just wanted to share some experience of my own looking at these systems.

I’ve tried Critic2 on some hybrid perovskites and also encountered issues identifying all the bond paths, I think specifically because of the large difference in density between eg the Pb atom and the H atom. In my case I was missing bond

[2019-11-18 20:32] aoterodelaroza commented on #29
Right now what @mkhorton says is the current state of affairs regarding finding CPs from a grid in critic2, AFAIK. Namely, have your program give you a grid that is as fine as you can, discard the vacuum CPs, and hope for the best. In large or molecular-like systems, use the SEED PAIR as a replacement or in addition to the usual seeding strategy for AUTO (TRIPLET also helps sometimes, as well as a

[2019-11-18 20:46] mkhorton commented on #29
Just to give a ref to TopoMS: https://github.com/LLNL/TopoMS and https://doi.org/10.1002/jcc.25181 The paper made their method look very compelling, unfortunately I found the tool itself very difficult to compile so haven't been able to evaluate it myself.

[2019-11-18 21:19] manaslkht commented on #29
@mkhorton and @aoterodelaroza Thank you for sharing your insights/suggestions. As suggested, I will try a finer grid and seed multiple points per pair to see if I can get all the bcps. If the size of my system is the issue, I will use the unit cell of the system as a test case and see if I get all the bcps. I am hoping that seeding multiple points between pairs will do the job for both unit cell a

[2019-11-22 10:14] aoterodelaroza commented on #28
This is implemented now. You can do `CPREPORT bleh.json` to write a JSON file that contains the structure, the details for the reference field, and the CP list for that field, with all the information. Let me know how it goes (and sorry for the wait).

[2019-11-22 19:53] mkhorton commented on #28
Excellent, will test ASAP and report back any issues.

[2019-11-22 19:56] bjoe2k4 commented on #28
a few nits:
* ellipticity is missing for bcps
* nuclear cps should have neither repulsor* nor attractor* properties
* adding `graph` to `cpreport` does not add bond and ring paths to the json file
* just tested with a crystal structure calculated by elk:
[code]
How are `cell_id` and `lvec` to be interpreted? Also it would be helpful to add the cpid for repulsors and attractors. Otherwise happy to

[2019-11-22 20:06] mkhorton commented on #28
Ellipticity is straight forward enough to calculate if you have the Hessian / Hessian eigenvalues (which are reported), so I'm personally not as concerned about that.

The graph info is important however (if not the path itself, at least the connectivity information, i.e. which ncps are connected to a given bcp).

Forgive the basic question, but what do the repulsor/attractor properties mean?

[2019-11-22 21:58] samblau commented on #28
including YT info in the JSON would also be greatly appreciated

[2019-11-23 20:00] aoterodelaroza commented on #28
Sorry for the wait. Let's see:
- Ellipticity: I agree with @mkhorton that if you have the Hessian eigenvalues, it doesn't make much sense, because it can be recalculated on the fly as lambda_1/lambda_2 - 1. Unless there is a specific reason to have it in there, I view it as redundant.
- Only rings (signature +1) and bonds (signature -1) have repulsor and attractor keys. A bcp has two attractors, w

[2019-11-23 20:16] bjoe2k4 commented on #28
This was the first test of the json cpreport on elemental beryllium from elk (repulsors present, signature wrong for nuclear cps):
[code]

The normal output seems ok:

[code]

[2019-11-23 20:42] aoterodelaroza commented on #28
Yeah, that's also a bug. I'll fix that too. Stay tuned.

[2019-11-23 20:51] mkhorton commented on #28
Regarding the YT, I think adding a JSON output to the YT/BADER keyword sounds cleanest / would make the most sense, rather than mixing information between different keywords. Thank you for the clarification on repulsors/attractors! I wasn't familiar with that naming.

[2019-11-23 20:57] aoterodelaroza commented on #28
No worries! Okay, I've pushed a commit to move the connectivity info from the non-equivalent CP list to the complete CP list in the JSON file. I had also mixed up attractors (for bcps) and repulsors (for rcps) so those are correct now. The combination of `cell_id` and `lvec` is basically the contents of the `Complete CP list, bcp and rcp connectivity table` in the output.  The `distance` and `path

[2019-11-23 21:05] aoterodelaroza commented on #28
I believe the problem with the rank and signature at the nuclei is fixed now.

[2019-11-24 19:11] aoterodelaroza commented on #28
The JSON output for YT/BADER is done. You can now do:
[code]
to write a JSON file containing the results of the integration. Works also for BADER.

[2019-11-25 22:01] mkhorton commented on #28
Hi @aoterodelaroza, I had two questions for clarification:

1. The standard output seems to be in Ångström, while the JSON seems to be in Bohr. Is this always the case? It might be useful to include a top-level units keyword in the output to avoid any ambiguity.

2. When running on a molecule from a Gaussian Cube file vs say a crystal CHGCAR, my interpretation is that the analysis is essentially t

[2019-11-26 08:21] aoterodelaroza commented on #28
The JSON file is basically a dump of critic's internal variables. Units are always atomic units, but I've added a "units" key in the JSON output as you suggested, just in case.

Regarding molecules: the analysis is the same but there are a few details to consider, (briefly) explained [here](https://aoterodelaroza.github.io/critic2/manual/molecule/). If you use MOLECULE to read the geometry, critic

[2019-11-26 15:21] mkhorton commented on #28
If units are *always* Bohr, I think that's ok, I wasn't certain whether critic2 always used the same units internally or whether it switched to e.g. Angstroms if the appropriate keyword was used. Thanks for clarifying!

[2019-12-04 18:33] bjoe2k4 opened #30 "Line breaks in cp table."
https://github.com/aoterodelaroza/critic2/blob/c823b618714770ee259f18628e6a5458ed42050f/src/autocp%40proc.f90#L1203

This line and L1208 introduce line breaks which break the table header layout.

[2019-12-05 11:54] aoterodelaroza commented on #30
Oooops. Fixed, thanks!

[2019-12-05 11:54] #30 closed

[2019-12-12 13:37] misterblonde opened #31 "Installation Issues"
The installation guidelines didn't work for me on mojave. The configure step would fail. configure --help wouldn't solve this problem either. Is this code meant to run on mac?

Similarly on linux server, the installation steps following git clone didn't work either.

I've emailed you about this.

Thanks

[2019-12-12 18:07] mkhorton commented on #31
Hi @misterblonde, replying as a user of this code. I just wanted to note that I regularly compile on macOS without problems — I install the compilers/dependencies via homebrew (https://brew.sh) first, otherwise no special steps have been required for me.

[2019-12-12 18:48] aoterodelaroza commented on #31
We discussed this over e-mail a little bit. Unfortunately, I've never used a mac so I can't really provide much help. I would very much like to make mac users' life simpler if possible - I hope that once cmake is ready to roll out, it'll help.

[2019-12-12 19:47] samblau opened #32 "Missing bonds and an atom bonded to itself"
Hi @aoterodelaroza,

I've written an automated workflow to print cube files with Q-Chem and then analyze them with Critic2, and I've run this workflow on over 25,000 optimized structures that are relevant to aqueous electrolyte reactions. I'm just starting to dig into the data and have found two systems that Critic2 isn't handling correctly which I've named neg (the molecule has a -1 total charge)

[2019-12-12 20:26] aoterodelaroza commented on #32
Thanks, Sam. This is great testing! The missing bonds I'm not surprised to see, because of the known poor performance of critic in locating critical points from fields defined on a grid. I made some progress with the implementation of the grid CP search using discrete Morse theory (the earlier Gyulassy paper without any chemistry in it is actually much clearer) but it'll still take several weeks,

[2020-06-26 00:03] mvfbarrionuevo opened #34 "Restrict open computations not allowed"
Hi @aoterodelaroza, first of all, thanks for such a great job and for making critic the best free tool for the AIM community.

I'm not sure if this should be an issue, so I apologize in advance if I am missing something.

I used to compute much of my crystal or molecular structures using QE and never happened to me to get in trouble when using critic2. But now I was conducting some calculations in

[2020-06-26 10:12] aoterodelaroza commented on #34
Hi @mvfbarrionuevo: ROHF wavefunctions are at present not implemented, that I remember. But it is not outside the realm of possibility to do it. The wfx error is probably indicating this as well, except a bail-out for the ROHF case has not been explicitly incorporated into the code. I'll add this to the TODO list - it would be interesting that ROHF worked, at least with the wfx format. (Note: you

[2020-06-26 14:16] mvfbarrionuevo commented on #34
Thanks for replying @aoterodelaroza.
Yes, I did try the molden file format printed by Orca, but it also fails to count the alpha electrons.
A possible workaround I found was to print the electron density of the system as a cube file and that worked pretty nicely.
So, it may not be necessary to bother yourself with this task within your TODO list. I wondered if the wfx should work, and since I coul

[2020-06-30 11:54] aoterodelaroza commented on #34
I think this is fixed in the last push I did. psi4 doesn't write molden ROHF files (or rather, it writes them as if they were UHF), so I'm not sure how that'll go. But wfn and wfx (and fchk) should work. Could you please pull and try again?

[2020-06-30 15:28] mvfbarrionuevo commented on #34
@aoterodelaroza, it did work smoothly!
Thanks a lot for your help, I didn't expect you were so fast at fixing it (I don't have a good idea how hard it can be to do so). I'm amazed by critic2, thanks for your work and for helping me out with this.

Now, just out of the context I was wondering about the possibility of using critic2 to compute the volume and average of a specific NCI domain by using

[2020-06-30 17:00] aoterodelaroza commented on #34
Glad you like it :). For integrating the volume of NCI blobs or any other features: the easiest way is to load a field on a uniform grid that has ones if a point is inside the feature you want and zero if it doesn't. The cell integral of this field is approximately the value you want. For instance, if you have the rdg in a cube and you want to integrate the zones with rdg lower than 0.2, then you

[2020-06-30 17:14] mvfbarrionuevo commented on #34
That sounds really great!
Thanks for pointing me that. I will give it a try and see what I can get.
I will be reaching you later.
Thanks again! :)

[2020-07-12 06:01] #34 closed

[2020-10-30 21:41] wutobias opened #35 "POINTPROP values in json output"
Hi,

I'm interested in using critic2 on a larger set of molecules, so the ability to write information about critical points (with the `CPREPORT` option) to a json file and make it machine-readable is really awesome. However, I ran into a technical issue of which I hope to find some help. When running the following critic2 commands:

[code]

the gtf values are properly displayed on stdout however

[2020-10-31 10:01] aoterodelaroza commented on #35
It's a bug, sorry. I just fixed it. Can you please pull and try again?

[2020-11-02 22:33] wutobias commented on #35
Hi,

thanks for looking into this. Unfortunately it did not fix the issue. I still get zeros in the json file.

Regards,
Tobias

[2020-11-02 23:23] aoterodelaroza commented on #35
Ooops, I should have used the example you provided instead of my own. Let me take a look at it again.

[2020-11-02 23:32] aoterodelaroza commented on #35
Sone, sorry about that. Please, pull and try again.

[2020-11-02 23:39] wutobias commented on #35
Excellent, now it works! I'm seeing the same values in stdout and json file. Thanks for the quick fix! :-)

Regards,
Tobias

[2020-11-02 23:40] #35 closed

[2020-11-03 00:12] wutobias opened #36 "Missing comma in json file"
Hi,

sorry for bothering again. I found another, possibly related, issue (relating to #35).

The values in key:value pairs in the json file written through `CPREPORT pyridine.json` should have a comma after each each value but the last one. Instead there is no comma at all. For example:

[code]

However, it should be
[code]

This makes the file unreadable with python, for instance (pyridine.json g

[2020-11-03 00:18] aoterodelaroza commented on #36
Sorry about that. I used to use a json validator to help me with this but since I don't use the format that often mistakes like this do slip by. I'll take a look.

[2020-11-03 00:24] aoterodelaroza commented on #36
OK, I pushed the change. Please pull and try again. I should get myself a library for this... these errors in the code aren't easy to spot just by looking at it.

[2020-11-03 01:39] wutobias commented on #36
Excellent, it works! The json files are being written correctly now.
Thank you so much!

Tobias

[2020-11-03 01:39] #36 closed

[2020-11-26 16:19] franciscoadasme opened #37 "Compilation issue due to missing module"
Hey everyone,

I'm having the following issue during the compilation (full output attached):

[code]

This has happened on three different machines (Linux and MacOS). I don't know what I'm doing wrong as I used the default compilation instructions

[code]

The `configure` output (attached) seems ok, I think.

Thanks.

[configure.txt](https://github.com/aoterodelaroza/critic2/files/5604052/configur

[2020-11-26 16:28] aoterodelaroza commented on #37
Sorry about that. I am migrating critic2 to the cmake build system,
and also using it so I don't catch these problems immediately
anymore. Hopefully, that'll be done soon. The problem is a missing
dependency in the Makefile.am. I've already pushed the fix. Can you
please pull and try again?

[2020-11-26 18:13] franciscoadasme commented on #37
Thanks for the quick reply. I confirm that it works now after the patch.

[2020-11-26 21:28] #37 closed

[2021-02-27 15:42] ecbrown opened #38 "Associated Atomic Basin / Attractor Index"
Is it possible to extract the associated attractor from a starting POINT x.r y.r z.r?   That is, where the gradient ascent path ends up.

[2021-02-27 16:01] ecbrown commented on #38
False alarm, I had a syntax error in my FLUXPRINT statement.  Sorry for the noise!

[2021-02-27 16:01] #38 closed

[2021-02-27 16:01] aoterodelaroza commented on #38
No worries ;). I was right now writing the answer.

[2021-02-27 16:50] ecbrown commented on #31
I was able to install on Mac OS Big Sur with Apple clang and Macports FC=gfortran-mp-10.  I used the cmake routines, and also used my own libxc and libcint.  (Also works on Ubuntu 20.04 LTS.)

[2021-03-01 19:52] mkhorton commented on #31
@aoterodelaroza just an idea, but you could run a GitHub Action to test a compilation on macOS on GitHub's servers. I test Windows this way for another project I run because I don't have a Windows laptop, but it at least lets me know if things start failing.

[2021-03-01 19:56] mkhorton commented on #31
Starting from this existing action might be good, https://github.com/marketplace/actions/github-action-for-homebrew

There's a blog post here that might be helpful too, https://extrawurst.medium.com/github-actions-homebrew-%EF%B8%8F-2789ae5023fd

I'm happy to help test if it'd be helpful at all

[2021-03-02 11:24] aoterodelaroza commented on #31
That looks like an amazing thing to have! I'll certainly take a look
in the near future because the issue of compilation of critic2 on the
macOS has been bugging me for a while now. And also I'll take up on
your offer to test it, too (thanks!).

[2021-03-03 21:43] samblau commented on #32
hey @aoterodelaroza, hope things are going well. I just updated my critic workflow infrastructure for the first time since late 2019 and did a recompile in the process, and I figured I'd check back in about this. Were you ever able to track down the source of these missing bonds and improve the code? Thanks!

[2021-03-03 22:34] aoterodelaroza commented on #32
The source is the same as before: The current algorithm for finding
critical points does not work reliably with densities on a grid. The
obvious candidate for a solution is to implement the
Gyulassy method. Unfortunately, I have not had time to do this yet.

[2021-03-04 01:15] ecbrown opened #39 "INTEGRALS subscript error"
Trying to track down a bug in benzene.wfx, I am trying to perform basin integration on a simple molecule like dihydrogen STO-3G.  My input files:
[h2.cri.txt](https://github.com/aoterodelaroza/critic2/files/6080156/h2.cri.txt)
[h2.cro.txt](https://github.com/aoterodelaroza/critic2/files/6080157/h2.cro.txt)
[h2.wfn.txt](https://github.com/aoterodelaroza/critic2/files/6080158/h2.wfn.txt)

Although c

[2021-03-04 02:42] mkhorton commented on #32
I saw Guylassy published a library (BSD-licensed), https://github.com/sci-visus/MSCEER, I'm not sure if any of that would be useful to you for a reference implementation.

[2021-03-04 10:00] aoterodelaroza commented on #32
It is! It certainly looks better than topoMS. I'll try to find some
time to attempt this in the near future - it's been too long.

[2021-03-04 10:04] aoterodelaroza commented on #39
That's odd. What version of critic2 are you using? This input works for me in the development version. Output:
[h2.cro.new.txt](https://github.com/aoterodelaroza/critic2/files/6082602/h2.cro.new.txt)

[2021-03-04 10:16] ecbrown commented on #39
I am on HEAD of master.  I looked at your output, and the coordinates of the BCP are garbled.  I think this is where my runs were crashing out.

[2021-03-04 10:56] aoterodelaroza commented on #39
Ooops, I see that. Let me take a look.

[2021-03-04 11:12] aoterodelaroza commented on #39
It's fixed now, I think. It was a reporting problem. The extra CP was not calculated but the routine that writes the results thought it was there. New output:
[h2.cro.new.txt](https://github.com/aoterodelaroza/critic2/files/6083127/h2.cro.new.txt). Can you please pull and try again?

[2021-03-04 11:33] ecbrown opened #41 "Compiler Check error in crystalmod"
While debugging the previous issue, I turned on full checking on the ifort compiler.  This was caught:

cd /home/ecbrown/src/critic2/build-intel/src && /opt/intel/oneapi/compiler/2021.1.2/linux/bin/intel64/ifort -DHAVE_READLINE -I/home/ecbrown/src/critic2/build-intel/src/cubpack -I/home/ecbrown/src/critic2/src/qhull  -O3 -check all -traceback -qopenmp   -c /home/ecbrown/src/critic2/src/crystalmod@

[2021-03-04 11:36] ecbrown opened #42 "Redundant variable in struct_drivers@proc.f90"
Probably not worth a PR, but I noted this "bug" which prevented ifort from compiling the code.  It seems that lp is defined as lp(inout) and then just lp.

[2021-03-04 11:38] aoterodelaroza commented on #41
Which ifort version is this?

[2021-03-04 11:40] aoterodelaroza commented on #41
It's difficult to say with ICEs... the error may be there or it may be somewhere else. ifort is particularly bad with those because there is nothing seemingly wrong with that statement. This is also probably a regression because last I tried with the 2019 version, it compiled without problems. I'd say the best course of action is what it says on the note: report it to the intel developers.

[2021-03-04 11:43] aoterodelaroza commented on #42
Just pushed the fix. Thanks!

[2021-03-04 11:48] ecbrown commented on #39
This works on h2 and now benzene.wfx.   (Also working on my new MacBook Pro M1 with gfortran-mp-dev.  It is looking like an integration-beast that rivals my 8-core i9!)

[2021-03-04 12:01] aoterodelaroza commented on #39
Sounds good! :)

[2021-03-04 12:01] #39 closed

[2021-03-04 13:39] ecbrown commented on #41
Will do.  Thanks for the feedback.

[2021-03-04 13:39] #41 closed

[2021-03-04 13:39] ecbrown commented on #42
Worked like a charm, thanks.

[2021-03-04 13:39] #42 closed

[2021-03-04 21:40] aoterodelaroza commented on #31
It works amazingly! I've pushed 3 workflows for testing Linux, macOS, several gfortran versions, and cmake and autoconf. Right now it's failing because I've overrun the resources github allocates to a free account, so I may look into hosting the tests myself in the near future (other than macOS). Thanks!
One more thing: are there any words of wisdom that should go in the installation section of th

[2021-03-04 22:42] mkhorton commented on #31
Happy to hear it :-) I didn't realise there was a limit for free accounts, but if you have an education affiliation you might be able to get upgraded. Another strategy is to only run the CI when you tag a release or something like that.

That's how I've been doing it! Been working well so far.

[2021-03-04 22:48] mkhorton commented on #31
Btw, if it's helpful I wrote a homebrew formula a long time ago for critic2, I'm not sure if it still works:

https://github.com/mkhorton/homebrew-matsci/blob/master/Formula/critic2.rb

I didn't try to get it merged into the main homebrew because it was around the time that `homebrew-science` was going away and I didn't know what the policy was going to be.

[2021-03-05 13:36] aoterodelaroza commented on #31
OK, I have added the workflow tests and some instructions re macOS to the manual, just in case someone is confused. I'm closing this issue now. Thanks @mkhorton and everyone for the help!

[2021-03-05 13:36] #31 closed

[2021-03-05 13:41] aoterodelaroza commented on #28
Closing this too, as it seems resolved. Please, let me know if there are any other JSON issues.

[2021-03-05 13:41] #28 closed

[2021-05-08 01:59] mkhorton commented on #32
Hi @aoterodelaroza, just wondering if there was an update on this, no worries if not! Just excited to try it out :-) Having some gridded data where the current algorithm seems to reliably fail between pairs of atoms that, while not symmetrically equivalent, clearly should have equivalent bond paths but some are missing, and this seems to be the case even when significantly increasing grid resoluti

[2021-05-08 09:34] aoterodelaroza commented on #32
Also, if this method is implemented, it should have to pass a correctness test to be acceptable. It seems to me the papers' priorities are efficiency > consistency > correctness, and in my opinion it should be the other way around.

[2021-05-08 21:03] mkhorton commented on #32
Ah yes, this is disappointing indeed, but I'm thoroughly convinced by your explanation -- thank you for sharing this information and for your attempts. I agree that efficiency is the wrong priority; as you say, if you have to make a determination about these spurious points, it's not feasible for large-scale processing, where you need the correctness first and foremost.

[2021-05-11 07:15] #29 closed

[2021-06-23 21:10] ecbrown opened #44 "Guix Package for Critic2: Request for Comments"
Hello Alberto and Critic2 Community:

I am interested in packaging libre electronic structure theory codes for GNU Guix. To that goal, I have created a Guix package recipe for Critic2 (attached):

One can test easily by adding this to your channels.scm:

[code]

Then at the shell:
[code]

should give the critic2 executable.  I have tested it with:

[code]
from the example_15_01 example, and things

[2021-06-24 09:18] aoterodelaroza commented on #44
Thanks for this, sounds very good! Some things:

- I don't remember the BLAS/LAPACK calls being in any
performance-critical part of the code, so I don't think it's going to
matter very much. In fact if you don't use an external library the
build system will default to compile its own version from the
`oldlibs/` directory.

- The GUI is not in a decent state, which is why it's not
documented. It's

[2021-06-25 12:43] ecbrown commented on #44
My pleasure, and thank you for the feedback!  I think that based on your comments, I will disable the GUI component.  This will cut down pretty significantly the amount of packages that have to be built/fetched as a side benefit.

[2021-07-04 00:29] ecbrown commented on #44
I've got the changes made, and will close the issue.  If anyone has questions or comments, please feel free to reach out.

[2021-07-04 00:29] #44 closed

[2021-09-08 00:56] wutobias opened #45 "pointprops issue in json file"
Hi,

when generating a json output from `auto` with multiple `POINTPROP` defined, the json file is not correctly formatted.

For example:

[code]

Will generate a `pointprops` section in the json file that looks like this:
[code]

When it should look like this:
[code]

I think it can be solved rewriting lines 1819 onwards in autocp@proc.f90 like this (basically just inserting the brackets):
[code]

[2021-09-08 01:01] wutobias opened #46 "Stress tensor pointprop not in json output"
Hi,

currently as far as I can see the stress tensor is not written to the json output of the `auto` method. Something like

[code]

will print the stress tensor to stdout but not to the json output. Would it be possible to implement stress tensor in json output? Let me know if you need more specifics.

Regards,
Tobias

[2021-09-09 22:04] aoterodelaroza commented on #45
Since this is the nth time this happens already, I've decided to rip the band-aid off and do it properly. I've pushed a new branch "json" to the repo that incorporates a copy of the json-fortran library and uses it to write the json files (the one coming out of the integration and the one from CPREPORT). The json-fortran library does not seem to support arrays of arrays so any n>1-dimensional arra

[2021-09-09 22:07] aoterodelaroza commented on #45
@mkhorton @bjoe2k4 @samblau This may be of interest to you as well. I don't want to break anyone's code once it is merged with the master branch.

[2021-09-09 22:09] aoterodelaroza commented on #46
Fixed in the json branch, see #45 . Moving to the other thread.

[2021-09-09 22:09] #46 closed

[2021-09-09 22:10] mkhorton commented on #45
Thank you for the notification @aoterodelaroza !

[2021-09-10 00:29] wutobias commented on #45
Thanks @aoterodelaroza ! It seems to work like a charm. I see the  json files are now formatted correctly and the stress tensor is in them. I  compared a few of the values in the json files coming from the old and new code and they seem to match.

[2021-09-10 05:19] aoterodelaroza commented on #45
Sounds good! I'll wait a few days to run some tests and make sure everything is correct, and that way everyone can check the impact on their code, then merge with master.

[2021-09-10 16:42] mkhorton commented on #45
This is an unfortunate limitation, I don't think it'll be too hard to update my own code to support this however.

[2021-09-12 18:58] aoterodelaroza commented on #45
OK, I've checked and everything looks good, and the build systems and tests have been updated. The json branch has been merged with master. Enjoy!

[2021-09-12 18:58] #45 closed

[2021-09-16 22:20] wutobias opened #47 "Definition scalar fields"
Hi,
I am confused about how scalar fields are being defined using `molecule` as input for critic2. For instance, when using something along these lines as input file

[code]

Critic2 creates a grid with 150 grid centers in each direction, but I don't see how I could set the length of each grid axis. That being said, I don't know how to set the density of grid centers (in each direction) in advance

[2021-09-17 05:49] aoterodelaroza commented on #47
Molecules in critic2 are also treated as periodic systems, because critic was originally a program for solids and molecules are a bit of an afterthought. When you load the molecular structure with `molecule`, critic2 assigns a periodic cell that is by default 10 angstrom larger than the molecule in each direction. You can control this by passing the border you want after the molecule file name and

[2021-09-23 20:28] wutobias commented on #47
Thanks @aoterodelaroza !
Indeed the `CUBE` keyword is what I wanted. I am now mapping the field into a cube file and reading it back in, which works nicely.

I was confused by something in the manual: The [manual entry for `Grid (CUBE)`](https://aoterodelaroza.github.io/critic2/manual/graphics/#c2-cube) says that the default units for defining end-points for a molecule system (loaded with `molecul

[2021-09-24 08:51] aoterodelaroza commented on #47
That's a good point. I've changed bpp to lpp (length per point) and pushed a modification to the code so it interprets lpp in bohr for crystals and in angstrom for molecules, to make it consistent with the rest of the keywords. I've also changed that particular section in the manual.

[2021-11-05 08:40] davidwaroquiers opened #48 "Load crystal or molecule from file"
Hello,

I am struggling to find a way to load a crystal or molecule from a cube file which does not end with .cube, but with .cub. Of course, the easy way is just to rename the file. I am just wondering if there is an equivalent of "LOAD CUBE ANYFILENAME" for the CRYSTAL/MOLECULE keywords.

Not a huge problem but sometimes just a little bit annoying because some software output the cube file as a

[2021-11-05 08:43] aoterodelaroza commented on #48
Hi David: that's a very good idea - I often have the same problem. It
may take a while because I'm busy with other stuff but I'll try to put
it in soon.

[2021-11-05 08:48] davidwaroquiers commented on #48
Thanks for your quick answer and thanks a lot for this nice package ;-)

[2021-12-27 17:45] pies32 opened #49 "Error using Make"
Hi there,

I am trying to compile and use critic2-stable on a Linux machine and am running into this error. My process is installing from GitHub, going to the directory and typing in autoreconf, ./configure, followed by make. This issue arises when I run make. Here is the entire error.

hashtype.f90:26.41:

     character(len=:), allocatable :: key
                                         1
Error:

[2021-12-27 17:48] aoterodelaroza commented on #49
Hi Travis: you are probably using an old version of gfortran, or some
other compiler that is not up to date with the Fortran standard. See:
https://aoterodelaroza.github.io/critic2/installation/#whichcompilerswork
Which compiler & version are you using?

[2021-12-27 17:53] pies32 commented on #49
GNU Fortran (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)

I see this is not supported. Thank you for the help. I'm not able to update this since it is a lab workstation.  Do you have any recommendations?

[2021-12-27 19:53] aoterodelaroza commented on #49
You can download and install the Intel fortran compiler. As far as I
know, it is free of charge and you can install it on your own
account.

[2021-12-27 19:54] pies32 commented on #49
I will give it a shot, thank you!

[2021-12-27 19:54] #49 closed

[2022-01-22 21:58] Beliavsky opened #50 "add topic quantum-chemistry"
I suggest adding the topic quantum-chemistry in the About section.

I have added your repo to the Quantum Chemistry and Electronic Structure section of a [list of Fortran codes](https://github.com/Beliavsky/Fortran-code-on-GitHub) that I maintain.

[2022-01-24 10:18] #50 closed

[2022-02-04 23:43] aoterodelaroza commented on #48
Hi David: I've just implemented this change - sorry for the wait. See:
https://aoterodelaroza.github.io/critic2/manual/crystal/#files-with-other-extensions
and
https://aoterodelaroza.github.io/critic2/manual/molecule/#files-with-other-extensions .
If you have some time, could you please give it a spin with one of
your cub files? Thanks!

[2022-02-16 10:03] aoterodelaroza commented on #48
I'll tentatively close this issue. Feel free to reopen.

[2022-02-16 10:03] #48 closed

[2022-02-16 10:03] #47 closed

[2022-02-16 12:22] davidwaroquiers commented on #48
Dear Alberto,

Sorry for not answering your message earlier. Thanks for implementing this! I will give it a try and let you know!

Best,

David

[2022-06-15 13:07] aoterodelaroza commented on #32
Hi all. I've finally found some time to take a closer look into this problem, and wrote up [this](https://doi.org/10.1063/5.0090232). The article describes the problems mentioned above, and proposes a solution for the all-electron density, which I think fixes the problems you have encountered. The new interpolation method is accessed with the SMOOTHRHO option to LOAD. Four examples with QE, abinit

[2022-06-15 13:17] aoterodelaroza commented on #32
For the examples you provided (thanks for keeping them in the dropbox all this time), these inputs work:
[code]
This gives the same topology:
[code]
for neg and neut. The output files:
[neut.cro.txt](https://github.com/aoterodelaroza/critic2/files/8909634/neut.cro.txt)
[neg.cro.txt](https://github.com/aoterodelaroza/critic2/files/8909636/neg.cro.txt)
and the molecular graphs look like this:
![neg]

[2022-06-15 13:19] aoterodelaroza commented on #32
The covellite example mentioned in issue #7 is considered explicitly in the [example from the manual](https://aoterodelaroza.github.io/critic2/examples/example_08_01_gridcps/). All critical points were found and there are no more spurious self-bonding atoms.

[2022-06-16 17:08] arosen93 opened #51 "Missing manual PDF"
In the PDF made available in the .tar.gz archive of critic2 in the original critic2 paper, there is a `doc/user-guide.pdf` that is quite helpful. However, on this github repo, there is no longer a `doc` folder, and I can't find the `user-guide.pdf`. I'm not sure if this is intentional or not, but I wanted to let you know. Feel free to close as you see fit.

[2022-06-16 17:11] arosen93 opened #52 "Question about methods requiring promolecular density"
Hello @aoterodelaroza,

Thanks for making such a great code. I am a new user and interested in using Critic2 for some of the methods that involve a promolecular density. Specifically, I am most interested in calculating [(Voronoi) deformation density charges](https://onlinelibrary.wiley.com/doi/abs/10.1002/jcc.10351) and think that Critic2 might be the best way for me to get them. Deformation dens

[2022-06-16 17:24] aoterodelaroza commented on #51
Sorry, I moved over to the [online documentation](https://aoterodelaroza.github.io/critic2/) quite a few years ago, and the PDF no longer exists. The website is more or less in the same order as the PDF manual from long ago and the search functionality is quite useful. If it helps, you can perhaps make a PDF from the markdown documents in the [website repo](https://github.com/aoterodelaroza/aotero

[2022-06-16 17:26] arosen93 commented on #51
Thanks, that makes total sense. Just wanted to make sure I wasn't missing something. Website seems perfect!

[2022-06-16 17:26] #51 closed

[2022-06-16 17:31] aoterodelaroza commented on #52
If you are not in a hurry I can probably write one or two examples about this in the next few days and stop being cryptic about it :wink: . It should be indeed possible to integrate the Voronoi cell using the [structural variables](https://aoterodelaroza.github.io/critic2/syntax/#structvar), although if you want to use this very often it is probably a better idea if I just make a new keyword for i

[2022-06-16 17:33] arosen93 commented on #52
Certainly, if you are willing to go through the effort to share some details about this, I am most happy to wait for however long that takes! Thank you!!

I would plan to be using this for quite a number of materials. A keyword would be fantastic! But even if that doesn't end up being feasible in the short-term, any additional insights would be great.

Looking forward to learning more!

[2022-06-17 22:57] mkhorton commented on #32
This is excellent work; thank you for the update and sharing the examples! This work has been on pause for lack of a reliable method, so it will be exciting to revisit it :)

[2022-06-18 23:00] aoterodelaroza commented on #32
OK! I'll close this as solved, then. Feel free to reopen if you find any problems.

[2022-06-18 23:00] #32 closed

[2022-06-18 23:02] aoterodelaroza commented on #52
OK, I implemented the [VORONOI](https://aoterodelaroza.github.io/critic2/manual/integrate/#c2-voronoi) and [HIRSHFELD](https://aoterodelaroza.github.io/critic2/manual/integrate/#c2-hirshfeld) keywords. Also, an [example](https://aoterodelaroza.github.io/critic2/examples/example_11_01_simple-integration/#c2-voronoi) of how to calculate VDDs specifically. Let me know if this works.

[2022-06-18 23:07] arosen93 commented on #52
@aoterodelaroza, wow thank you so much! I am going to try it out right now. I'm so excited!

[2022-06-18 23:35] arosen93 commented on #52
@aoterodelaroza -- I tried compiling `critic2` and got the following error. This is with the intel 19.1.2.254 compiler, although I also tried gfortran with the same result. Any suggestions about how to resolve this one? Thanks in advance.

[code]

[2022-06-18 23:49] aoterodelaroza commented on #52
Ooops. I pushed the fix for this. Please git pull and try again.

[2022-06-19 00:27] arosen93 commented on #52
Thanks! I was able to get it compiled and ran the VDD charge analysis per the example! I'm going to go ahead and close the issue.

[2022-06-19 00:27] #52 closed

[2022-06-19 00:57] arosen93 commented on #52
@aoterodelaroza -- actually, I just have a few short clarification questions if you don't mind just to make sure I'm understanding it correctly.

1. Why do we use `AECCAR1`-`AECCAR2` instead of `AECCAR`-`CHGCAR`? Just by trying to draw parallels, in the Bader method we treat rho(**r**) as the `CHGCAR`, but here we are treating it as `AECCAR2`.
2. When calculating the Voronoi cell of atom A (i.e. w

[2022-06-19 03:50] arosen93 opened #53 "Large residual charges in VDD method"
Apologies for the drastic edit as I continue to diagnose the issue and refine my question.

For the attached files below, I am getting a sum of VDD charges that is -50. This is the number of pseudopotential electrons in the system, whereas I expected to get a sum that is ~0. Do you know why I am getting the total number of electrons returned?
[CHGCAR.gz](https://github.com/aoterodelaroza/critic2/f

[2022-06-19 09:14] aoterodelaroza commented on #52
AECCAR2 and CHGCAR both contain the valence electron density. CHGCAR is the smooth pseudo-density actually used in the plane-wave calculation and AECCAR2 is the "true" valence electron density reconstructed with the PAW transformation. See [this](https://www.vasp.at/wiki/index.php/LAECHG) - AECCAR2 would be the equation at the bottom and CHGCAR only the first term on the rhs of that equation.  The

[2022-06-19 09:51] aoterodelaroza commented on #53
The sum of YT charges is 50, which I presume is the number of valence electrons in your system. You need to look at the column `$4` for the result of integrating field 4 (the CHGCAR). The "Pop" column is the integral of the all-electron density which, as mentioned in the other thread, has a very large grid integration error (and therefore is meaningless). Assuming you went with Ag pseudos with ZVA

[2022-06-19 09:54] aoterodelaroza commented on #53
Also, can you please share the VASP version you are using, and maybe a private e-mail with the INCAR, KPOINTS, and POTCAR?

[2022-06-19 15:15] arosen93 commented on #52
Thanks for the super clear explanation. That all makes perfect sense to me!

[2022-06-19 18:14] arosen93 commented on #53
Ah, thanks! You're correct about the YT charges. Regarding the Voronoi charges, it appears that there is some sort of bug with the `AECCAR1` file in a certain set of older VASP versions that is causing the integrated density to be ~number of electrons instead of ~0. It then appears that the VDD charges are not accurate as a result (they appear to be closer to regular Voronoi charges without the pr

[2022-06-19 20:57] arosen93 commented on #53
Thanks for your help, @aoterodelaroza. With the clues you provided, I was able to pinpoint the issue. It is not a VASP version or pseudpotential issue. It's an input issue. Using `ADDGRID=.TRUE.` causes the aforementioned issue in the `AECCAR1` file. When this keyword is removed, the `AECCAR1` is appropriate. As such, I will close this issue.

[2022-06-19 20:57] #53 closed

[2022-10-21 15:24] balducci opened #54 "unable to build with cmake/ninja from 81dbc0fdb8646f90e1601f237e9eef8c8906cb8f on"
hello

starting with 81dbc0fdb8646f90e1601f237e9eef8c8906cb8f until current master I'm unable to build critic2 with cmake/ninja and getting:

[code]

On the other hand, building with cmake/Makefiles works fine

Also, building with ninja has worked fine up to and including 46127397a955ef6ab95c40b8317ce1b6b28f3228

Just curious to know if somebody else has noticed this or if something weird is going

[2022-10-23 06:28] aoterodelaroza commented on #54
Hi @balducci : I have never used ninja, so I can't help very much. Two things: i) I fixed a few problems with the internal BLAS/LAPACK copy in the build system shortly after this message, and ii) I have had problems with how cmake generates the Fortran make dependencies in the past. The Fortran module/submodule dependencies are a bit tricky, and I'm not sure cmake got them quite right in all cases

[2022-10-23 06:39] balducci commented on #54
thank you very much for the feedback

the problem is not serious for me because, as i said, building with makefiles works fine

But as I have been building with ninja since quite a bit, it's a pity that ninja has broken...

I'll find the time to make a git bisect and see if that will give some clue

I'll report back any good result

thanks for your valuable work
-g